.form {
  background-color: $color-white;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 5px 0 rgba($color-blue-dark, 0.4);

  input {
    width: 100%;
    outline: none;
    padding: 2rem 3rem;
    border-radius: 5px;
    border: 1px solid $color-blue-grayish;
    font-weight: 700;
    // position: relative;

    &:focus,
    &:active {
      border: 1px solid $color-blue-dark;
      font-weight: 700;
    }
  }

  button {
    width: 100%;
    color: $color-white;
    background-color: $color-green;
    border: 0;
    outline: none;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 3px 0 rgba($color-blue-dark, 0.4);
    margin-bottom: 1.5rem;
    font-weight: 500;
    font-size: 1.4rem;
    text-transform: uppercase;
    cursor: pointer;
  }

  .terms {
    font-size: 1rem;
    font-weight: 500;
    color: rgba($color-blue-dark, 0.5);
    a {
      text-decoration: none;
      color: $color-red;
      font-weight: 700;
    }
  }

  .form-control {
    position: relative;
    width: 100%;
  }

  i {
    position: absolute;
    top: 25%;
    right: 0;
    transform: translate(-50%, -10%);
    color: $color-red;
    font-size: 2rem;
    visibility: hidden;
  }

  .error-message {
    display: block;
    width: 100%;
    color: $color-red;
    text-align: right;
    margin-bottom: 1rem;
    font-size: 1rem;
    visibility: hidden;
  }

  .email-error {
    color: $color-red;
    font-size: 1.4rem;
    font-weight: 500;

    position: absolute;
    top: 25%;
    left: 5%;
    visibility: hidden;
  }
}

.form-control.success {
  input {
    border: 2px solid $color-green;
  }
}

.form-control.error {
  input {
    border: 2px solid $color-red;
  }
  .error-message {
    visibility: visible;
  }
  i {
    visibility: visible;
  }
  .email-error {
    visibility: visible;
  }
}
